html {
  background-color: black;
}
main {
  padding: 4rem 0 0 0;
  flex-grow: 1;
}
// 카드들
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}
.movie_card {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  color: white;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
    background-color: rgb(192, 192, 192);
    color: black;
  }
  img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  h2 {
    margin: 10px 0;
    font-size: 1.2rem;
    overflow: hidden; //텍스트 넘치면 숨김
    text-overflow: ellipsis; //말줄임표
    max-width: 90%; //최대너비 부모요소의 90%
    white-space: nowrap; //텍스트한줄로 유지
  }

  span {
    font-size: 1rem;
    color: #ffcc00;
  }
}

// 영화세부정보
.detail {
  display: flex;
  gap: 3rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 1rem;
  width: 100%;
  height: 100%;
  //사진
  img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  //제목&평점
  .head {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    > div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      h2 {
        font-size: 2rem;
        margin: 0;
      }

      p {
        font-size: 1.5rem;
        color: #ffcc00;
      }
    }
    //장르
    .genre {
      font-size: 1rem;
      color: rgb(255, 255, 255);
      display: flex; /* 가로 배열 */
      flex-wrap: nowrap; /* 한 줄에 강제로 배치 */
      gap: 0.5rem; /* 요소 간 간격 */
      flex-direction: row;
      justify-content: flex-start;
    }
    //줄거리
    .overview {
      font-size: 1rem;
      line-height: 1.5;
      color: rgb(255, 255, 255);
      width: 85%;
    }
  }
}

//navbar
.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  justify-content: space-evenly;
  //링크들
  a {
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  //메인
  .main {
    font-size: 30px;
  }

  //검색창
  .search {
    padding: 8px;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    background-color: rgb(51, 51, 51);
    outline: none;
    color: white;
  }
}
@media (max-width: 768px) {
}
