html {
  background-color: black;
}
main {
  padding-top: 4rem;
}
// 카드들
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}
.movie_card {
  width: 200px; //카드 가로길이
  height: auto; // 높이를 내부 컨텐츠에 맞게 자동으로 설정
  display: flex;
  flex-direction: column; //자식요소 위에서 아래 세로방향
  align-items: center; //자식요소 수평가운데정렬
  justify-content: center; //자식요소 수직가운데정렬
  background-color: #272727;
  color: white;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease-in; // 카드 속성변화시 부드럽게 변화 적용

  &:hover {
    transform: scale(1.1);
    background-color: rgb(99, 99, 99);
    color: black;
  }
  img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
  }

  h2 {
    margin: 10px 0;
    font-size: 1.2rem;
    overflow: hidden; //텍스트 넘치면 숨김
    text-overflow: ellipsis; //말줄임표
    max-width: 90%; //최대너비 부모요소의 90%
    white-space: nowrap; //텍스트한줄로 유지
  }

  span {
    font-size: 1rem;
    color: #ffcc00;
  }
}

// 영화세부정보
.detail {
  display: flex;
  gap: 3rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 1rem;
  width: 100%;
  height: 100%;
  //사진
  img {
    width: 400px;
    height: auto;
    object-fit: cover; //이미지는 컨테이너를 다 덮고 초과된 부분은 잘림
    border-radius: 15px;
    border: 5px solid rgb(255, 255, 255);
  }
  //제목&평점
  .head {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      h2 {
        font-size: 2rem;
        margin: 0;
      }

      p {
        font-size: 1.5rem;
        color: #ffcc00;
      }
    }
    //장르
    .genre {
      font-size: 1rem;
      color: rgb(255, 255, 255);
      display: flex; /* 가로 배열 */
      flex-wrap: nowrap; /* 한 줄에 강제로 배치 */
      gap: 0.5rem; /* 요소 간 간격 */
      flex-direction: row;
      justify-content: flex-start;
    }
    //줄거리
    .overview {
      font-size: 1rem;
      line-height: 1.5;
      color: rgb(255, 255, 255);
      width: 85%;
    }
  }
}

//navbar
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 17px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  position: fixed; //위치고정
  top: 0;
  width: 100%;
  justify-content: space-evenly;
  z-index: 1000; //다른 요소들 올라오는거 방지

  //메인
  .main {
    img {
      max-width: 100%;
      width: 100px;
      height: auto;
    }
  }

  //로그인 이미지
  .login {
    img {
      max-width: 100%;
      width: 60px;
      height: auto;
    }
  }
  //마이페이지 이미지
  .mypage {
    img {
      max-width: 100%;
      width: 50px;
      height: auto;
    }
  }

  //검색창
  .search {
    padding: 8px;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    background-color: rgb(51, 51, 51);
    outline: none;
    color: white;
  }
}

//태블릿
@media (max-width: 768px) {
  .card {
    padding: 10px;
    gap: 15px;
  }

  .movie_card {
    width: 150px;
    img {
      width: 150px;
      height: 225px;
    }
  }
}

//모바일
@media (max-width: 480px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .movie_card {
    width: 100%;
    max-width: 300px; /* 모바일 최대 너비 제한 */
    img {
      width: 100%;
      height: auto; /* 비율 유지 */
    }
  }
  .login img,
  .mypage img {
    width: 35px;
  }
}
